
*.sentinel
SQL-Truck/.idea/.idea.SQL-Truck/.idea/encodings.xml
SQL-Truck/.idea/.idea.SQL-Truck/.idea/indexLayout.xml
SQL-Truck/.idea/.idea.SQL-Truck/.idea/vcs.xml
SQL-Truck/SQL-Truck/bin/Debug/net6.0/appsettings.Development.json
SQL-Truck/SQL-Truck/bin/Debug/net6.0/appsettings.json
SQL-Truck/SQL-Truck/bin/Debug/net6.0/SQL-Truck
SQL-Truck/SQL-Truck/bin/Debug/net6.0/SQL-Truck.deps.json
SQL-Truck/SQL-Truck/bin/Debug/net6.0/SQL-Truck.dll
SQL-Truck/SQL-Truck/bin/Debug/net6.0/SQL-Truck.pdb
SQL-Truck/SQL-Truck/bin/Debug/net6.0/SQL-Truck.runtimeconfig.json
SQL-Truck/SQL-Truck/bin/Debug/net6.0/SQL-Truck.staticwebassets.runtime.json
SQL-Truck/SQL-Truck/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SQL-Truck/SQL-Truck/obj/Debug/net6.0/apphost
SQL-Truck/SQL-Truck/obj/Debug/net6.0/ref/SQL-Truck.dll
SQL-Truck/SQL-Truck/obj/Debug/net6.0/refint/SQL-Truck.dll
SQL-Truck/SQL-Truck/obj/Debug/net6.0/scopedcss/bundle/SQL-Truck.styles.css
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.AssemblyInfo.cs
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.AssemblyInfoInputs.cache
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.assets.cache
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.csproj.AssemblyReference.cache
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.csproj.CoreCompileInputs.cache
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.csproj.FileListAbsolute.txt
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.dll
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.GeneratedMSBuildEditorConfig.editorconfig
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.genruntimeconfig.cache
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.GlobalUsings.g.cs
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.MvcApplicationPartsAssemblyInfo.cache
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.pdb
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.RazorAssemblyInfo.cache
SQL-Truck/SQL-Truck/obj/Debug/net6.0/SQL-Truck.RazorAssemblyInfo.cs
SQL-Truck/SQL-Truck/obj/Debug/net6.0/staticwebassets.build.json
SQL-Truck/SQL-Truck/obj/Debug/net6.0/staticwebassets.development.json
SQL-Truck/SQL-Truck/obj/project.assets.json
SQL-Truck/SQL-Truck/obj/project.nuget.cache
SQL-Truck/SQL-Truck/obj/project.packagespec.json
SQL-Truck/SQL-Truck/obj/rider.project.model.nuget.info
SQL-Truck/SQL-Truck/obj/rider.project.restore.info
SQL-Truck/SQL-Truck/obj/SQL-Truck.csproj.nuget.dgspec.json
SQL-Truck/SQL-Truck/obj/SQL-Truck.csproj.nuget.g.props
SQL-Truck/SQL-Truck/obj/SQL-Truck.csproj.nuget.g.targets
SQL-Truck/SQL-Truck/obj/staticwebassets.pack.sentinel
