@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL-Truck</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/static/js/codemirror5/3024-night.min.css" rel="stylesheet" />
    <link href="~/static/js/codemirror5/codemirror.min.css" rel="stylesheet" />
    <link href="~/static/js/codemirror5/show-hint.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/static/css/atom-one-dark.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/static/js/codemirror5/codemirror.min.js"></script>
    <script src="~/static/js/codemirror5/sql-hint.js"></script>
    <script src="~/static/js/codemirror5/sql.js"></script>
    <script src="~/static/js/codemirror5/show-hint.min.js"></script>
    <script src="~/static/js/feather.min.js"></script>
    <script src="~/static/js/highlight.min.js"></script>
    <script src="~/static/js/markdown-it.min.js"></script>
    <script src="~/static/js/balert.js"></script>
    <script src="~/js/site.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <header class="header text-center position-relative">
                <img src="/static/images/SQL.png" alt="SQL Tool Logo" class="logo-img">
                <button class="btn btn-sm btn-secondary btn-lang-switch" onclick="switchLanguage()"><span id="langSwitchText">English</span></button>
            </header>
            <div>
                <h2 class="text-center" id="mainTitle">SQL-Truck 帮助您自由转换SQL语句</h2>
                <div class="form-group">
                    <label for="sqlInput" id="inputLabel">输入SQL语句:</label>
                    <button class="btn btn-success" onclick="setTest()" id="setTest"><i data-feather="activity"></i> 测试用例</button>
                    <textarea id="myTextarea"></textarea>
                </div>
            </div>
            <label id="selectTitle">选择转换目标（可多选）</label>
            <div id="selectBox" class="checkbox-container">
                <div class="checkbox-item">
                    <input type="checkbox" id="database1" class="form-check-input">
                    <label for="database1" class="form-check-label">
                        <div class="logo-content">
                            <img src="/static/images/databaseimg/mysql.png" class="database-logo">
                            <span class="text-info database-name">MySQL</span>
                        </div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="database2" class="form-check-input" checked>
                    <label for="database2" class="form-check-label">
                        <div class="logo-content">
                            <img src="/static/images/databaseimg/PostgreSQL.png" class="database-logo">
                            <span class="text-info database-name">PostgreSQL</span>
                        </div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="database3" class="form-check-input">
                    <label for="database3" class="form-check-label">
                        <div class="logo-content">
                            <img src="/static/images/databaseimg/ORACLE.png" class="database-logo">
                            <span class="text-info database-name">Oracle</span>
                        </div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="database4" class="form-check-input">
                    <label for="database4" class="form-check-label">
                        <div class="logo-content">
                            <img src="/static/images/databaseimg/SQL Server.png" class="database-logo">
                            <span class="text-info database-name">SQL Server</span>
                        </div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="database5" class="form-check-input">
                    <label for="database5" class="form-check-label">
                        <div class="logo-content">
                            <img src="/static/images/databaseimg/sqlite.png" class="database-logo">
                            <span class="text-info database-name">SQLite</span>
                        </div>
                    </label>
                </div>
                <div class="checkbox-item">
                    <input type="checkbox" id="database6" class="form-check-input">
                    <label for="database6" class="form-check-label">
                        <div class="logo-content">
                            <img src="/static/images/databaseimg/mongodb.png" class="database-logo">
                            <span class="text-info database-name">MongoDB</span>
                        </div>
                    </label>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-primary" id="switchBtn" onclick="translateSQL()">
                    <i data-feather="refresh-cw"></i> 转换
                </button>
                <p class="text-danger" id="convertInfo">*完成转换大约需要25~30秒</p>
            </div>
            <div id="results" class="mt-4">
                <h4 id="resultTitle">转换结果:</h4>
                <ul id="resultList" class="list-unstyled">
                </ul>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                initCodeEditor('');
                var savedLang = localStorage.getItem('lang') || 'en-US';
                setLanguage(savedLang);
                feather.replace();
                $('.checkbox-item input').prop('checked', false);
                function updateSelectedDatabases() {
                    selectedDatabases = [];
                    $('.checkbox-item input:checked').each(function () {
                        var dbName = $(this).closest('.checkbox-item').find('.database-name').text();
                        selectedDatabases.push(dbName);
                    });
                }
                $('.checkbox-item input').change(function () {
                    updateSelectedDatabases();
                });
                updateSelectedDatabases();
            });
        </script>
        <footer class="footer bg-light mt-auto py-3 border-top">
            <div class="container text-center">
                <p class="text-muted">© 2024 <a href="https://aibotpro.cn">aibotpro.cn</a>. All rights reserved.</p>
                <a href="https://github.com/MayDay-wpf/SQL-Truck" class="ml-4" target="_blank" id="github">
                    <i data-feather="github"></i> Visit our GitHub
                </a>
            </div>
        </footer>
    </div>
</body>
</html>